<%- include('partials/header') %>
  <main class="about-main">
    <div class="container">
      <div class="card w-75 mb-3">
          <img src="../images/aboutImage1.jpg" class="card-img-top" alt="..." style="width:90%">
        <div class="card-body">
            <div class="container">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">At RecipeShare, our mission is to make cooking fun and accessible for everyone. We believe that sharing recipes is one of the best ways to bring people together and create delicious meals. Our platform provides a space for home cooks to discover and share their favorite recipes, connect with other food lovers, and learn new cooking techniques.</p>
            </div>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <img src="../images/aboutImage2.jpg" class="card-img-top" alt="..." style="width:90%">
        <div class="card-body">
            <div class="container">
          <h5 class="card-titled">History</h5>
          <p class="card-text">RecipeShare was founded in 2023 by a group of passionate home cooks who wanted to create a platform where people could easily share their favorite recipes with others. We believe that cooking is an essential life skill that should be enjoyed by everyone, and our goal is to make it easy and fun for people to learn and try new things in the kitchen. Since our launch, we have grown to become one of the largest recipe sharing communities on the web, with thousands of members from around the world.</p>
        </div>
    </div>
      </div>
      <div class="card w-75 mb-3">
          <img src="../images/aboutImage3.jpg" class="card-img-top" alt="..." style="width:90%">
          <div class="card-body">
            <div class="container">
              <p class="card-text">Our company values are centered around community, creativity, and inclusivity. We believe that everyone has something to contribute to the world of cooking, and we are committed to creating a welcoming and supportive environment for all our members. Our platform is designed to empower home cooks to share their unique perspectives and experiences with others, and to learn from each other in a collaborative and fun way.</p>
        </div>
    </div>
    </div>
    </div>
  </main>
  <%- include('partials/footer') %>