<%- include('partials/header') %>
  <main>
        <div class="hero">
            <div class="hero-body img-fluid">
                <div class="container">
                    <div class="hero-content text-center">
                        <h2 class="hero-content-text">"Share and Discover Delicious Recipes with RecipeShare"
                        </h2>
                        <p class="lead lh-lg text-wrap hero-content-text" style="width: 26rem">
                            Join a community of food enthusiasts and discover new recipes on RecipeShare</p>
                            <a class="btn btn-lg btn-primary" href="/register" style="background-color:#1685F0;">Join RecipeShare</a>
                    </div>
                </div>
            </div>
        </div>
  </main>
  <section>
    <div class="container">
    <div class="about-section img-fluid"></div>
    </div>
  </section>
<%- include('partials/footer') %>
