<%- include('partials/header') %>
<div class="container" style="margin-top: 5rem;">
  <div class="container mt-5">
    <main class="form-signin w-100 m-auto" style="padding:5rem;">
      <form action="/signin" method="POST">
        <img class="mb-4" src="../images/logo.png" alt="" width="272">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating" style="margin: 1rem auto">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <br><br>
        <hr>
        <h5 class="text-center">Or</h5>
        <br>
        <div class="col  text-center">
          <div class="card">
            <div class="card-body text-center">
              <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                <img src="../images/google.png" alt="google logo">
                Sign In with Google
              </a>
            </div>
          </div>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">Doesn't have an account yet click on <a href="/register">create account</a></p>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2022–2023</p>
      </form>
    </main>
  </div>
</div>
<%- include('partials/footer') %>
