<%- include('partials/header') %>


<div class="container" style="margin: 7rem auto;">
    <div class="card text-center" style="padding: 5rem;">
      <form action="/sucess" method="post">
        <div class="display-4">Message Deliverd</div>
        <p class="display-6">We will contact you shortly</p>
        <button type="submit" class="btn btn-lg btn-primary" style="margin-top: 5rem;">Go Back To Home Page</button>
      </form>
    </div>
  </div>

<%- include('partials/footer') %>
